Importar Librerías

In [1]:
import pandas as pd

In [13]:
ALTA_VERAPAZ = pd.read_excel(r'data\ALTA_VERAPAZ.xlsx', keep_default_na=True)
BAJA_VERAPAZ = pd.read_excel(r'data\BAJA_VERAPAZ.xlsx', keep_default_na=True)
CHIMALTENANGO = pd.read_excel(r'data\CHIMALTENANGO.xlsx', keep_default_na=True)
CHIQUIMULA = pd.read_excel(r'data\CHIQUIMULA.xlsx', keep_default_na=True)
CUIDAD_CAPITAL = pd.read_excel(r'data\CUIDAD_CAPITAL.xlsx', keep_default_na=True)
EL_PROGRESO = pd.read_excel(r'data\EL_PROGRESO.xlsx', keep_default_na=True)
ESCUINTLA = pd.read_excel(r'data\ESCUINTLA.xlsx', keep_default_na=True)
GUATEMALA = pd.read_excel(r'data\GUATEMALA.xlsx', keep_default_na=True)
HUEHUETENANGO = pd.read_excel(r'data\HUEHUETENANGO.xlsx', keep_default_na=True)
IZABAL = pd.read_excel(r'data\IZABAL.xlsx', keep_default_na=True)
JALAPA = pd.read_excel(r'data\JALAPA.xlsx', keep_default_na=True)
JUTIAPA = pd.read_excel(r'data\JUTIAPA.xlsx', keep_default_na=True)
PETEN = pd.read_excel(r'data\PETEN.xlsx', keep_default_na=True)
QUETZALTENANGO = pd.read_excel(r'data\QUETZALTENANGO.xlsx', keep_default_na=True)
QUICHE = pd.read_excel(r'data\QUICHE.xlsx', keep_default_na=True)
RETALHULEU = pd.read_excel(r'data\RETALHULEU.xlsx', keep_default_na=True)
SACATEPEQUEZ = pd.read_excel(r'data\SACATEPEQUEZ.xlsx', keep_default_na=True)
SAN_MARCOS = pd.read_excel(r'data\SAN_MARCOS.xlsx', keep_default_na=True)
SANTA_ROSA = pd.read_excel(r'data\SANTA_ROSA.xlsx', keep_default_na=True)
SOLOLA = pd.read_excel(r'data\SOLOLA.xlsx', keep_default_na=True)
SUCHITEPEQUEZ = pd.read_excel(r'data\SUCHITEPEQUEZ.xlsx', keep_default_na=True)
TOTONICAPAN = pd.read_excel(r'data\TOTONICAPAN.xlsx', keep_default_na=True)
ZACAPA = pd.read_excel(r'data\ZACAPA.xlsx', keep_default_na=True)

In [14]:
dataFrame = pd.concat([ALTA_VERAPAZ, BAJA_VERAPAZ, CHIMALTENANGO, CHIQUIMULA, CUIDAD_CAPITAL, 
           EL_PROGRESO, ESCUINTLA, GUATEMALA, HUEHUETENANGO, IZABAL, JALAPA, 
           JUTIAPA, PETEN, QUETZALTENANGO, QUICHE, RETALHULEU, SACATEPEQUEZ,
           SAN_MARCOS, SANTA_ROSA, SOLOLA, SUCHITEPEQUEZ, TOTONICAPAN, ZACAPA])

Data Frame:

In [19]:
dataFrame.head()

,CODIGO,DISTRITO,DEPARTAMENTO,MUNICIPIO,ESTABLECIMIENTO,DIRECCION,TELEFONO,SUPERVISOR,DIRECTOR,NIVEL,SECTOR,AREA,STATUS,MODALIDAD,JORNADA,PLAN,DEPARTAMENTAL
0,16-01-0138-46,16-031,ALTA VERAPAZ,COBAN,COLEGIO COBAN,KM.2 SALIDA A SAN JUAN CHAMELCO ZONA 8,77945104,CESAR ROLANDO CHOCOOJ YALIBAT,JULIO CESAR VILLELA AMADO,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
1,16-01-0139-46,16-031,ALTA VERAPAZ,COBAN,COLEGIO PARTICULAR MIXTO VERAPAZ,KM 209.5 ENTRADA A LA CIUDAD,77367402,CESAR ROLANDO CHOCOOJ YALIBAT,NaN,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
2,16-01-0140-46,16-031,ALTA VERAPAZ,COBAN,"COLEGIO ""LA INMACULADA""",7A. AVENIDA 11-109 ZONA 6,49532425,CESAR ROLANDO CHOCOOJ YALIBAT,MERCEDES QUIROS QUIROS,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
3,16-01-0141-46,16-005,ALTA VERAPAZ,COBAN,ESCUELA NACIONAL DE CIENCIAS COMERCIALES,2A CALLE 11-10 ZONA 2,79514215,JUAN CARLOS WINTER CAAL,NaN,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
4,16-01-0142-46,16-005,ALTA VERAPAZ,COBAN,INSTITUTO NORMAL MIXTO DEL NORTE 'EMILIO ROSAL...,3A AVE 6-23 ZONA 11,79521468,JUAN CARLOS WINTER CAAL,NaN,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,BILINGUE,VESPERTINA,DIARIO(REGULAR),ALTA VERAPAZ

Información de las columnas:

In [20]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7973 entries, 0 to 92
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CODIGO           7973 non-null   object
 1   DISTRITO         7761 non-null   object
 2   DEPARTAMENTO     7973 non-null   object
 3   MUNICIPIO        7973 non-null   object
 4   ESTABLECIMIENTO  7973 non-null   object
 5   DIRECCION        7918 non-null   object
 6   TELEFONO         7401 non-null   object
 7   SUPERVISOR       7760 non-null   object
 8   DIRECTOR         6321 non-null   object
 9   NIVEL            7973 non-null   object
 10  SECTOR           7973 non-null   object
 11  AREA             7973 non-null   object
 12  STATUS           7973 non-null   object
 13  MODALIDAD        7973 non-null   object
 14  JORNADA          7973 non-null   object
 15  PLAN             7973 non-null   object
 16  DEPARTAMENTAL    7973 non-null   object
dtypes: object(17)
memory usage: 1.1+ MB

Cantidad de Nan:

In [21]:
dataFrame.isna().sum()

CODIGO                0
DISTRITO            212
DEPARTAMENTO          0
MUNICIPIO             0
ESTABLECIMIENTO       0
DIRECCION            55
TELEFONO            572
SUPERVISOR          213
DIRECTOR           1652
NIVEL                 0
SECTOR                0
AREA                  0
STATUS                0
MODALIDAD             0
JORNADA               0
PLAN                  0
DEPARTAMENTAL         0
dtype: int64